AllSubjects/Ensemble1_LandsatResNeXt101/data/
AllSubjects/Ensemble1_LandsatResNeXt101/epochs/
AllSubjects/Ensemble1_LandsatResNeXt101/models/

AllSubjects/Ensemble2_StaticResNeXt101/data/
AllSubjects/Ensemble2_StaticResNeXt101/epochs/
AllSubjects/Ensemble2_StaticResNeXt101/models/

AllSubjects/Ensemble3_StreetViewResNet152/data/
AllSubjects/Ensemble3_StreetViewResNet152/epochs/
AllSubjects/Ensemble3_StreetViewResNet152/models/

Subject1_English/Ensemble1_English_LandsatResNeXt101/data/
Subject1_English/Ensemble1_English_LandsatResNeXt101/epochs/
Subject1_English/Ensemble1_English_LandsatResNeXt101/models/

Subject1_English/Ensemble2_English_StaticResNeXt101/data/
Subject1_English/Ensemble2_English_StaticResNeXt101/epochs/
Subject1_English/Ensemble2_English_StaticResNeXt101/models/

Subject1_English/Ensemble3_English_StreetViewResNeXt101/data/
Subject1_English/Ensemble3_English_StreetViewResNeXt101/epochs/
Subject1_English/Ensemble3_English_StreetViewResNeXt101/models/

Subject2_Filipino/E1_Fil_Landsat/data/
Subject2_Filipino/E1_Fil_Landsat/models/
Subject2_Filipino/E1_Fil_Landsat/epochs/

Subject2_Filipino/E2_Fil_Static/data/
Subject2_Filipino/E2_Fil_Static/models/
Subject2_Filipino/E2_Fil_Static/epochs/

Subject2_Filipino/E3_Fil_StreetView/data/
Subject2_Filipino/E3_Fil_StreetView/models/
Subject2_Filipino/E3_Fil_StreetView/epochs/

Subject3_Math/E1_Math_Landsat/data/
Subject3_Math/E1_Math_Landsat/epochs/
Subject3_Math/E1_Math_Landsat/models/

Subject3_Math/E2_Math_Static/data/
Subject3_Math/E2_Math_Static/epochs/
Subject3_Math/E2_Math_Static/models/

Subject3_Math/E3_Math_StreetView/data/
Subject3_Math/E3_Math_StreetView/epochs/
Subject3_Math/E3_Math_StreetView/models/


Subject4_Science/E1_Sci_Landsat/data/
Subject4_Science/E1_Sci_Landsat/epochs/
Subject4_Science/E1_Sci_Landsat/models/

Subject4_Science/E2_Sci_Static/data/
Subject4_Science/E2_Sci_Static/epochs/
Subject4_Science/E2_Sci_Static/models/

Subject4_Science/E3_Sci_StreetView/data/
Subject4_Science/E3_Sci_StreetView/epochs/
Subject4_Science/E3_Sci_StreetView/models/


Subject5_AP/E1_AP_Landsat/data/
Subject5_AP/E1_AP_Landsat/epochs/
Subject5_AP/E1_AP_Landsat/models/

Subject5_AP/E2_AP_Static/data/
Subject5_AP/E2_AP_Static/epochs/
Subject5_AP/E2_AP_Static/models/

Subject5_AP/E3_AP_StreetView/data/
Subject5_AP/E3_AP_StreetView/epochs/
Subject5_AP/E3_AP_StreetView/models/
