AllSubjects/Ensemble1_LandsatResNeXt101/data/
AllSubjects/Ensemble1_LandsatResNeXt101/epochs/
AllSubjects/Ensemble1_LandsatResNeXt101/models/

AllSubjects/Ensemble2_StaticResNeXt101/data/
AllSubjects/Ensemble2_StaticResNeXt101/epochs/
AllSubjects/Ensemble2_StaticResNeXt101/models/

AllSubjects/Ensemble3_StreetViewResNet152/data/
AllSubjects/Ensemble3_StreetViewResNet152/epochs/
AllSubjects/Ensemble3_StreetViewResNet152/models/

Subject1_English/Ensemble1_English_LandsatResNeXt101/data/
Subject1_English/Ensemble1_English_LandsatResNeXt101/epochs/
Subject1_English/Ensemble1_English_LandsatResNeXt101/models/

Subject1_English/Ensemble2_English_StaticResNeXt101/data/
Subject1_English/Ensemble2_English_StaticResNeXt101/epochs/
Subject1_English/Ensemble2_English_StaticResNeXt101/models/

Subject1_English/Ensemble3_English_StreetViewResNeXt101/data/
Subject1_English/Ensemble3_English_StreetViewResNeXt101/epochs/
Subject1_English/Ensemble3_English_StreetViewResNeXt101/models/
